.cart {
    background-color: #545454;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
}

.cart-item {
    background-color: white;
    padding: 1.2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    max-width: 400px;
}

.cart-item p {
    font-weight: 600;
}

.cart-image {
    width: 40px;
}

.cart-info {
    padding-left: 2em;
}

.quantity {
    margin: 0.2em;
    display: flex;
    gap: 0.2em;
    align-items: center;
    background-color: #545454;
    color: white;
    width: fit-content
}

.quantity > button {
    padding: 2px 8px;
    border: none;
    background-color: #545454;
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
}

.order-button {
    padding: 2em;
    border: none;
    margin: 1em;
    border-radius: 1em;
    background-color: #454545;
    color: white;
}

.cart-modal {
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
}

.close-button {
    color: white;
    font-weight: 100;
    font-size: 1.4em;
    text-align: right;
}