header {
    background-color: #222;
    position: sticky;
    top: 0;
}

.header-links-list {
    display: flex;
    justify-content: flex-end;
    padding: 1em 3em;
    gap: 3em;
    list-style: none;
}

.header-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4em;
}