.modal-info {
    position: absolute;
    border: 2px solid black;
    background-color: white;
    padding: 2em;
    width: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    animation: 0.2s ease-out topDown;
}

@keyframes topDown {
    0% {
        transform: translate(-50%, -100%);

    }
    100% {
        transform: translate(-50%, 0);
    }
}

.modal-content > img {
    width: 200px;
}

.modal-content {
    display: flex;
    align-items: center;
    gap: 3em;
}

.modal-content > div {
    font-size: 1.2em;;
}

.modal-title {
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.2em;
}

.modal-container:before{
    position:absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background-color: black;
    content:"";
    pointer-events: none;
    z-index:1;
    opacity: .6;
}