.product-card {
    width: 300px;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product-description > p:first-child {
    font-style: italic;
    font-weight: 400;
    color: #222;
    text-decoration: underline solid #545454 1px;
}

.product-description > p:nth-child(3) {
    font-weight: 500;
    height: 1em;
    overflow: hidden;
}

.product-description > p:nth-child(4) {
    font-size: 0.9em;
    color: #545454;
}

.product-card button {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid gray;
    margin-top: 1em;
    background-color: #545454;
    color: white;
}

.product-card button:active {
    transform: scale(1.1)
}

.product-card button:not(:active) {
    transition: transform 0.2s ease;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    padding: 3em 0;
    background-color: white;
}

.product-description > img {
    width: 200px;
    height: 200px;
    align-self: center;
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.6em;
    color: #545454;
    font-size: 0.9em;
}

.product-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4em;
}